hr{
    border: 0.1rem solid var(--color-secondary);
    border-radius: 1rem;
}

h1{
    color: var(--color-bg);
    font-size: 3vw;
    text-align: center;
}

/*ENIGMA*/

.enigma{
    background-color: var(--color-primary);
    padding:  1vw;
    border-radius: 1vw;
    width: fit-content;
    margin: 1vw auto;
    border: 0.2rem solid var(--color-secondary);
}

/*WHEELHOLDER*/

.wheelHolder{
    width: 15rem;
    margin: auto;

    border: 0.2rem solid var(--color-secondary);

    background-image: linear-gradient(
        to right,   
        var(--color-primary) 0%,
        var(--color-primary) 32%,   
        var(--color-secondary) 32.5%,       
        var(--color-secondary) 33.5%,  
        var(--color-primary) 33.5%,   
        var(--color-primary) 66.5%,   
        var(--color-secondary) 66.5%,       
        var(--color-secondary) 67.5%,  
        var(--color-primary) 68%,   
        var(--color-primary) 100%
    );
}

.wheelHolderAlign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*WHEEL*/

.wheel{
    width: 33%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .2rem;
    margin: .3rem;
}

.wheelIdAlign{
    position: absolute;
    color: var(--color-accent);
    font-size: 1.3rem;
    font-weight: bold;
}

.wheelPicker{
    width: 80%;
    margin: 0 auto;
}

.wheelOptions{
    color: var(--color-secondary);
    font-size: 1.3rem;
}

/*KEYS*/

.keyRow{
    display: flex;
    flex-direction: row;
}

.keyLetter{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-secondary);
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
}

.keyLetter button{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;
}

.keyLetter button:hover{
    background-color: var(--color-primary-dark);
    border-radius: 100%;
}

.keyLetter button:active{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 100%;
}

/*PLUGBOARD*/

.cables-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    overflow: visible;  
}

.plugboardRow{
    display: flex;
    flex-direction: row;
}

.plugboardLetter{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-secondary);
    width: 2rem;
    height: 3rem;
    border: 0.1rem solid var(--color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
    flex-direction: column;
}

.plugboardLetter p{
    margin: -3.5rem 0;
    font-size: 4rem;
    color: var(--color-secondary);
    z-index: 1;
}

.plugboardLetter button{
    z-index: 10;
    margin-top: -3.1rem;
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}