hr{
    border: 0.1rem solid var(--color-secondary);
    border-radius: 1rem;
}

.navButton{
    background-color: var(--color-background);
    color: var(--color-secondary);
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    top: 1%;
    left: 1%;
    border: none;
}

.navList{
    list-style: none;
}

.outKeyRow{
    display: flex;
    flex-direction: row;
}

.outKeyLetter{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-secondary);
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
}

.outKeyLetter button{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;
}

.outKeyLetter button:hover{
    background-color: var(--color-primary-dark);
    border-radius: 100%;
}

.outKeyLetter button:active{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 100%;
}