hr{
    border: 0.1rem solid var(--color-secondary);
    border-radius: 1rem;
}

h1{
    color: var(--color-bg);
    font-size: 3vw;
    text-align: center;
}

.navButton{
    background-color: var(--color-background);
    color: var(--color-bg);
    font-size: 4vw;
    cursor: pointer;
    position: absolute;
    top: 1vw;
    left: 1vw;
    border: none;
}

.navList{
    list-style: none;
}

.navList button{
    background-color: transparent;
    color: var(--color-secondary);
    font-size: 1.5em;
    border: none;
    cursor: pointer;
}

.navList button:hover{
    color: var(--color-primary);
}

.outKeyRow{
    display: flex;
    flex-direction: row;
}

.outKeyLetter{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-secondary);
    width: 2rem;
    height: 2rem;
    border: 0.1rem solid var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.2rem;
}

.outKeyLetter button{
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    cursor: pointer;
}

.outKeyLetter button:hover{
    background-color: var(--color-primary-dark);
    border-radius: 100%;
}

.outKeyLetter button:active{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 100%;
}

.wheelHolderAlign{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.wheel{
    width: 33%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .2rem;
    margin: .3rem;
}

.wheelIdAlign{
    position: absolute;
    color: var(--color-accent);
    font-size: 1.3rem;
    font-weight: bold;
}

.notes{
    position: absolute;
    right: 15rem;
    top: 8rem;
    width: 20rem;
    height: 10rem;
    border: 0.2rem solid var(--color-secondary);
    border-radius: 1vw;
    padding: 0.5rem;
    background-color: var(--color-primary);
    text-align: center;
}

.notes h2{
    color: var(--color-secondary);
    font-size: 1.5rem;
    text-align: center;
    margin: auto 0;
}

.notes textarea{
    width: 98%;
    height: 80%;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: .5vw;
    color: var(--color-bg);
    font-size: 1.2rem;
    resize: none;
}

.button{
    background-color: var(--color-secondary);
    color: var(--color-bg);
    font-size: 1.5rem;
    border: none;
    border-radius: .5vw;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: absolute;
    bottom: 5.2vw;
    right: 22vw;
}

.button:hover{
    filter: brightness(1.5);
}