/*
    paleta: https://colorhunt.co/palette/ede9e6c9996b5c4f4a5c766d
*/

@font-face {
    font-family: OldStandard;
    src: url('../fonts/OldStandardTT-Regular.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-VariableFont_wdth\,wght.ttf');
}

:root {
    --color-bg: #ede9e6;
    --color-primary: #c9996b;
    --color-primary-dark: #b07e5f;
    --color-secondary: #5c4f4a;
    --color-accent: #5c766d;
    --color-alert: #f47e10;
}

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-image: url('/Images/woodBackground.jpg');
    background-size: cover;
    color: var(--color-bg);
    font-family: 'Roboto', sans-serif;
}

.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.appContent{
    display: flex;
    width: 90%;
    box-sizing: border-box;
    gap: 5rem;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
}

.sideComp{
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 20rem;
    width: 25%;
    max-width: 25%;
    text-align: center;
}