/*WHEEL*/

.wheelId{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-accent);
    font-size: 1.3rem;
    font-weight: bold;
}

/*PLUGBOARD*/

.pblHover{
    cursor: pointer;
}

.pblHover:hover{
    background-color: var(--color-primary-dark);
}